body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}
#one{
    width: 50px;
    background-color: orange;
}
#two{
    width: 50px;
    background-color: rebeccapurple;
}
#three{
    width: 50px;
    background-color: seagreen;
}